@import url(variables.css);
body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    padding: 0;
    font-family: "Inconsolata", monospace;
}
body{
    background-color: black;
    color: azure;
}
.hidden{
  display: none;
}

form, 
.filters{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.results{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.result,
.busselect1,
.busselect2{
    width: 49%;
}
summary{
  font-size: var(--h5);
  color: rgb(250, 215, 215);
}
h1{
    font-size: var(--h1);
    text-align: center;
}
h2{
    font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  text-align: center;
  font-size: var(--h5);
}
#buses1,
#buses2,
#stops1,
#stops2{
  width: 40vw;
  height: 3vh;
}
.direction{
  width: 5vw;
}
input[type="submit"]{
  width: 10vw;
  display: block;
  text-align: center;
}
.filter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.themer{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
  }
.card{
    padding: 0.5rem;
    background-color: #1a0035;
    margin: 0.5rem 0;
    width: 40vw;
    height: auto;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 0px rgba(48, 48, 48, 0.5);
    color: white;
}
.busHead{
  font-size: var(--h4);
  font-weight: bolder;
}
.card-img{
    width: 18vw;
    height: auto;
    margin: 0;
}

.card-title{
    font-size: 1rem;
    background-color: #1a0035;
}
.card-desc{
    font-size: 1rem;
    background-color: #1a0035;
}
a{
    color: rgb(213, 255, 255);
}
input[value="submit"],
input[class="refresh"], 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5rem 0;
  width: 14vw;
}
input[class="refresh"]{
  background-color: rgb(107, 0, 0);
  color: white;
}
button {
  width: fit-content;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.subhead{
  font-size: var(--h4);
  text-align: center;
}